liborrow-webservice/liborrow-webservice-webapp/src/main/resources/item.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://itemService/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	name="bookService" 
	targetNamespace="http://itemService/">
	
  <wsdl:types>
    <xsd:schema targetNamespace="http://itemService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/> 
      <xsd:element name="getItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="xsd:int" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="item">
	   		<xsd:sequence>
	    		<xsd:element name="id" type="xsd:int"/>
	        	<xsd:element name="itemRef" type="xsd:string"/>
	        	<xsd:element name="totalCount" type="xsd:int"/>
	        	<xsd:element name="remainingCount" type="xsd:int"/>
	        	<xsd:element name="alley" type="xsd:string"/>
	        	<xsd:element name="place" type="xsd:string"/>
	   		</xsd:sequence>
	  </xsd:complexType>
      <xsd:element name="getBookResponse">
        <xsd:complexType>
        	<xsd:complexContent>
        		<xsd:extension base="tns:item">
	        		<xsd:sequence>
			            <xsd:element name="title" type="xsd:string"/>
			            <xsd:element name="language" type="xsd:string"/>
			            <xsd:element name="release" type="xsd:gYear"/>
			            <xsd:element name="summary" type="xsd:string"/>
			            <xsd:element name="editor" type="xsd:string"/>
		          	</xsd:sequence>
	        	</xsd:extension>
        	</xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getListBookResponse">
      	<xsd:complexType>
	      	<xsd:complexContent>
				<xsd:restriction base="soapenc:Array">
					<xsd:attribute ref="soapenc:arrayType"  wsdl:arrayType="tns:getBookResponse[]"/>
				</xsd:restriction>
			</xsd:complexContent>
	    </xsd:complexType>	
      </xsd:element>
      
      <xsd:element name="getMagazineResponse">
        <xsd:complexType>
        	<xsd:complexContent>
        		<xsd:extension base="tns:item">
	        		<xsd:sequence>
			            <xsd:element name="editionNumber" type="xsd:int"/>
			            <xsd:element name="name" type="xsd:string"/>
			            <xsd:element name="publishDate" type="xsd:date"/>
		          	</xsd:sequence>
	        	</xsd:extension>
        	</xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  
  <wsdl:message name="getBook">
    <wsdl:part element="tns:getItem" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBookResponse">
    <wsdl:part element="tns:getBookResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getListBook">
  </wsdl:message>
  <wsdl:message name="getListBookResponse">
    <wsdl:part element="tns:getListBookResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getMagazine">
    <wsdl:part element="tns:getItem" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getMagazineResponse">
    <wsdl:part element="tns:getMagazineResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="ItemServiceGetBook">
    <wsdl:operation name="getBook">
      <wsdl:input message="tns:getBook"/>
      <wsdl:output message="tns:getBookResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:portType name="ItemServiceGetAllBooks">
    <wsdl:operation name="getAllBooks">
    	<wsdl:input message="tns:getListBook"/>
    	<wsdl:output message="tns:getListBookResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:portType name="ItemServiceGetMagazine">
  	<wsdl:operation name="getMagazine">
      <wsdl:input message="tns:getMagazine"/>
      <wsdl:output message="tns:getMagazineResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="ItemServicePortBindingGetBook" type="tns:ItemServiceGetBook">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBook">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding >
  <wsdl:binding name="ItemServicePortBindingGetAllBooks" type="tns:ItemServiceGetAllBooks">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="getAllBooks">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemServicePortBindingGetMagazine" type="tns:ItemServiceGetMagazine">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="getMagazine">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Item">
    <wsdl:port binding="tns:ItemServicePortBindingGetBook" name="ItemServicePortGetBook">
      <soap:address location="http://localhost:8080/Item/getBook"/>
    </wsdl:port>
    <wsdl:port binding="tns:ItemServicePortBindingGetAllBooks" name="ItemServicePortGetAllBooks">
      <soap:address location="http://localhost:8080/Item/getAllBooks"/>
    </wsdl:port>
    <wsdl:port binding="tns:ItemServicePortBindingGetMagazine" name="ItemServicePortGetMagazine">
      <soap:address location="http://localhost:8080/Item/getMagazine"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
